.searchbox {
  background-color: white;
  padding: 20px 30px 50px;
}

.results {
  padding: 20px 30px 50px;
}

.btn {
  margin-right: 5px;
}

h4 {
  margin-top: 0px;
}

h1 {
  margin-bottom: 10px;
}

.subtitle {
  font-family: "Roboto", sans-serif !important;
}